#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.auth-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
   margin-bottom: 2rem;
}

.login-form,
.signup-form {
  background: var(--card-bg);
  padding: 18px;
  border: 2px solid var(--border);
  box-shadow: 8px 8px 0 var(--shadow-color);
  margin-bottom: 24px;
}

.login-form h2,
.signup-form h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.login-form button,
.signup-form button {
  background: var(--button);
  align-self: flex-start;
  text-transform: uppercase;
}


.logout-button {
  color: var(--text);
  background-color: var(--button);
  margin: 0 0 1rem 0;
}

.login-inputs {
  display: flex;
  gap: 0.5rem;
}

.login-inputs label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.auth-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.toggle-authform {
  cursor: pointer;
  font-size: 0.9rem;
  vertical-align: middle;
  margin-left: 0;
}

.toggle-authform:hover {
  text-decoration: underline;
  color: #185df1;
}
.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.25rem;
}
