
.edit-textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid rgb(175, 175, 175);
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.thought {
  padding-top: 32px;
  background: var(--thought-bg);
  padding: 18px;
  border: 1px solid var(--border);
  box-shadow: 8px 8px 0 var(--shadow-color);
  position: relative;
}

.message {
  margin: 0 0 10px 0;
  font-size: 17px;
  font-weight: 500;
  overflow-wrap: break-word;
  padding-right: 50px; 
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--meta);
  font-size: 13px;
}

.thought-time {
  font-size: 13px;
  color: var(--meta);
}

.likes {
  margin-inline-end: auto;
  padding: 10px;
}

.like-button {
  border: none;
  border-radius: 50%;
  padding: 12px 10px 7px 12px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.like-button:hover:not(:disabled) {
  background-color: var(--button);
}

.like-button.liked,
.like-button:disabled {
  background-color: var(--button);
  cursor: not-allowed;
}

.edit-button,
.delete-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s ease;
}

.thought-edit {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 5px;
  z-index: 1;
}

input {
  margin-bottom: 8px;
  font-size: 16px;
  flex: 1;
  width: 75%;
  min-width: 0;
  z-index: 1;
}

.save-button{
  border: 1px solid var(--border);
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--button);
}
.cancel-button {
  border: 1px solid var(--border);
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}


@media (min-width: 375px) and (max-width: 768px) {

  .thought-edit {
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .thought-actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }


  .edit-actions {
    display: flex;
    gap: 8px;
  }

   .meta {
    padding-right: 60px;
  }

  .button-wrapper {
    display: flex;
    gap: 6px;
  }
}
